@charset "UTF-8";

@import "partials/_colours.scss";

// for checkboxes
@import 'pretty-checkbox/_variables.scss';
@import 'pretty-checkbox/_core.scss';
// optionals
@import 'pretty-checkbox/elements/default/outline.scss';
@import 'pretty-checkbox/elements/font-icon/general.scss';
@import 'pretty-checkbox/elements/switch/general.scss';
@import 'pretty-checkbox/extras/toggle.scss';
@import 'pretty-checkbox/extras/plain.scss';


$image-width: 295px;

// reset the main grid to stick the menu hard left
.gridsearch.grid {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

.grid-main.search {
	
	grid-column-start: 1;
	border-radius: 0;
}

mark {
	background-color: transparentize($colour-burgundy, 0.8);
	
}

header {
	background-color: $colour-white;
	margin-bottom: 0;
	img {
		filter: invert(1);
	}
	
	.menu.simple.horizontal  {
		a {
			color: $colour-black;
			&.selected {
				color: $colour-black;
				border-bottom: 2px solid $colour-burgundy;
			}
			&:hover {
				color: $colour-burgundy;
			}
		}
	}
	
}
section#diversitymessage {
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	h4 {
		margin: 0;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		color: $colour-burgundy;
	}
	a.info-popup {
		text-decoration: none;
		border-bottom: none;
		color: $colour-burgundy;
	}
	p {
		max-width: 60em;
		margin-left: auto; 
		margin-right: auto;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	.faded {
		-webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
		mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
		overflow-y: scroll;
	}
	a.close_toggle_more,
	a.toggle_more {
		color: $colour-white;
		font-size: 0.75em;
		&:hover {
			cursor: pointer;
			border-bottom: 1px solid $colour-white;
		}
	}
	.unbiased_more {
		display: none;
	}
}

.quickfilters {

	input[type=checkbox] + .state label {
		background-color: transparentize($colour-black, 0.975);
		color: $colour-black;
	
	}
	input[type=checkbox]:checked + .state label {
		background-color: $colour-black;
		color: $colour-white;
		&:hover {
			background-color: $colour-black !important;
			color: $colour-white !important;
		}
	}
	
	.pretty {
		margin-right: 0.5em;
		
		input {
			pointer-events: none;
		}
		.state {
			label {
				padding: 5px 10px;
				outline: 0;
				background-color: transparentize($colour-black, 0.975);
				border: 1px solid transparentize($colour-lightgrey, 0.6);
				border-radius: 2px;
				margin: 2px;
				text-align: center;
				display: block;
				text-align: center;
				text-indent: 0;
				&:hover {
					border: 1px solid $colour-black !important;
					background-color: transparentize($colour-lightgrey, .6) !important;
					cursor: pointer;
					color: $colour-black;
				}
			}
			
			label:before, 
			label:after {
				width: 0;
				height: 0;
				border: none;
			}
		}
	}
}
	
section#filtertop {
	background-color: $colour-white;
	border-bottom: 1px solid $colour-grey;
	
	padding-top: 1em;
	padding-bottom: 0.5em;
	
	.column {
		&.normal {
			max-width: 20%;
		}
		
		&.wide {
			max-width: 35%;
			min-width: 25%;
		}
		
		&.narrow {
			max-width: 12%;
		}
	}
	
	#byname, #location {
		margin-bottom: 1em;
	}
	
	.awesomplete {
		display: block;
	}

	a {
		color: $colour-burgundy;
		font-weight: $font-bold;
		border-bottom: none;
		&:hover {
			border-bottom: 1px solid transparent;
		}
		&.filter-toggle {
			top: 2em;
			position: relative;
			&:after {
				font-family: "Font Awesome 5 Free";
				content: "";
				position: absolute;
				right: -20px;
				top: 2px;
				transition: transform 0.2s ease-in;
				transform: rotateZ(90deg);
			}
			&.active:after {
				transform: rotateZ(-90deg);
			}
		}
	}
	
	
	
	.filtertop-cta {
		max-width: 90em;
		margin-left: auto;
		margin-right: auto;
		color: $colour-white;
		font-weight: $font-bold;
		text-align: center;
		font-size: 2em;
		padding-bottom: 2em;
		.gender_toggle {
			display: inline;
			ul {
				display: inline;
			}
		}
		
		p {
			font-weight: $font-light;
			margin-bottom: 1em;
		}
		

		.wrapper {
			position: relative; 
			.awesomplete {
			
				&> ul {
					border: 1px solid transparentize($colour-black, 0.3);
					z-index: 500;
					top: 2em;
					border-radius: 2px;
					&> li {
						font-size: 0.5em;
						color: $colour-black;
						padding-left: 0.5em;
						text-align: left;
						&:hover {
							background-color: transparentize($colour-lightgrey, 0.3);
						}
					}
				}
				&:before {
					font-family: 'Font Awesome 5 Free';
					color: $colour-lightgrey;
					position: absolute;
					right: 10px;
					content: "\f002";
					z-index: 2;
					font-size: .5em;
					top: 50%;
					transform: translateY(-50%);
				}
				
				
				mark {
					background: transparentize($colour-burgundy, 0.8);
				}
			}
			
		}
	}
	
}
section#filters,
section#filtertop {
	.row.slider {
		padding: 0;
		.slidercol {
			width: 100%;
			height: 50px;
			margin-left: 0.5em;
			margin-top: 0.5em;
			
			&.heightrange {
				margin-top: 1em;
				.ui-slider span.ui-slider-handle:before {
					top: -35px;
					text-align: center;
				}
			
			}
		}
	}
}

section#filters {
	.column.slider {
		p {
			padding: 0;
			text-transform: uppercase;
		}
	}
	
	.toplevel-filters.row {
		margin-bottom: 0;
		padding-bottom: 0;
		.awesomplete {
			display: block;
		}
	}
}

// favourites checkbox
.favouritesonly {
	input[type=checkbox] { display:none; } /* to hide the checkbox itself */
	input[type=checkbox] + label:after {
		font-family: "Font Awesome 5 Free";
		display: inline-block;
	}
	input[type=checkbox] + label:after { 
		font-weight: 400;
		content: "\f004";
		margin-left: 1em;
		position: relative;
	} /* unchecked icon */
	input[type=checkbox]:checked + label:after {
		font-weight: 900;
		content: "\f004";
		margin-left: 1em;
	}
	label:hover {
		cursor: pointer;
	}
}

.name-footer,
.name-leader {
	text-align: center;
}

.top-holder {
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-bottom: -20px;

	.favourites-toggle,
	h2 {
		margin-left: 20px;
	}

	h2 {
		font-style: normal;
	}
	.favourites-toggle {
		margin-bottom: 1em;
		font-style: italic;
		color: $colour-grey;
	}
}

#sortorder {
	display: inline;
}

.search-results {
	hr.availablility_gap {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(1, 1, 1, 0.1)), to(rgba(1, 1, 1, 0.1)), color-stop(50%, #FFFFFF));
	}
	.availability {
		.availability_heading {
			display: block;
			font-weight: $font-bold;
			text-align: center;
		}
		.availability_days {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-evenly;
			align-items: center;
			font-weight: $font-normal;
			.availablility_box {
				display: block;
				padding: 5px;
				justify-content: center;
				align-items: center;
				.availability_day {
					text-align: center;
					text-transform: capitalize;
				}
				.available {
					font-size: 1.5em;
					text-align: center;
					i.fa-check {
						color: $colour-green;
					}
					i.fa-times {
						color: $colour-red;
					}
					i.fa-minus {
						color: $colour-grey;
					}
				}
			}
		}
	
	}
	
	.row .column a {
		border-bottom: none;
	}
	
	
	.row {
		max-width: 100%;
	}
	
	.details_overlay a {
		color: inherit;
		text-decoration: inherit;
	}
	
	
	.model-favourite {
		float: right; 
		top: -20px; 
		position: relative;
		width: 24px;
		
		i {
			color: $colour-black;
			transition: color 0.2s ease-in;
			font-size: 22px;
		}
		
		i:hover {
			color: $colour-burgundy;
			font-size: 22px;
		}
		
	}
	
	.instagram-details {
		width: 100%; 
		text-align: center;
		font-weight: $font-black;
		font-size: 200%;
		margin-top: 1em;
	}
	
	.images-link {
		width: 100%;
		display: flex;
		margin-bottom: 0.5em;
		margin-top: 0em;
		justify-content: space-evenly;
	}
	
	.images-link div {
		color: #fff;
		display: inline-block;
		padding-top: 1em;
		font-weight: $font-bold;
		text-align: center;
	}
	
	.images-link div:hover {
		text-decoration: underline;
	}
	
}

// specific overrides for the results page in the serach popup
.search-popup {
	section#filters {
		.filtercolumn.wide {
			max-width: 25%;
		}
		.worko-tabs {
			&.search {
				.tabs {
					.tab-holder {
						.half-tab {
							width: auto;
							&.second {
								margin-left: 1em;
							}
						}
					}
				}
			}
		}
	}
	.search-results .instagram-details {
		margin-top: 0;
	}
	
	.search-results.popup {
		min-width: 100%;
	}
	
	.results-column {
		&.popup {
			p.note {
				text-align: center;
				padding: 0.5em 1em;
				border-radius: 2px;
				background: $colour-burgundy;
				color: $colour-white;
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
section#filters {
	
	.filterholder {
		display: none;
		border-bottom: 1px solid transparentize($colour-grey, 0.8);
	}
	
	.toplevel-filters {
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 1em;
		border-bottom: 1px solid transparent;
		padding: 0 0 1em 0;
		
		a {
			color: $colour-burgundy;
			font-weight: $font-bold;
			border-bottom: none;
			&:hover {
				border-bottom: 1px solid transparent;
			}
			&.filter-toggle {
				position: relative;
				&:after {
					font-family: "Font Awesome 5 Free";
					content: "";
					position: absolute;
					right: -20px;
					top: 2px;
					transition: transform 0.2s ease-in;
					transform: rotateZ(90deg);
				}
				&.active:after {
					transform: rotateZ(-90deg);
				}
			}
		}
		label {
			text-transform: uppercase;
		}
		.align-left {
			float: left;
			&:hover {
				border-bottom: 1px solid $colour-burgundy;
			}
		}
		.align-right {
			float: right;
			label {
				color: $colour-burgundy;
				font-weight: $font-bold;
			}
//			label:hover {
//				border-bottom: 1px solid $colour-burgundy;
//			}
		}
	}

	.filtercolumn {
		
		&.normal {
			max-width: 20%;
			min-width: 20%;
		}
		
		&.wide {
			max-width: 35%;
			min-width: 25%;
		}
		
		&.narrow {
			max-width: 15%;
			min-width: 12%;
		}
		
		.pretty {
			display: block;

			margin-bottom: 0.5rem;
			margin-top: 0.5rem;
			margin-right: 0.5em;
			font-size: 0.8em;

			&.pretty-boxed {
				margin-bottom: 0.25rem;
				margin-top: 0.25rem;
				margin-right: 0.25em;
			}
			
			&.p-icon{
				&:hover {
					color: $colour-black;
				}
				&.p-disabled {
					color: $colour-lightgrey;
					input:checked ~ .state .icon {
						background-color: $colour-lightgrey;
					}
					.state label:before {
						border-color: $colour-lightgrey;
					}
				}
			}
			
			
			
			&.pretty-boxed {
				display: inline-block;
				font-size: 100%;
				input:checked ~ .state i {
					color: $colour-white;
				}
				.state {
					width: 1.5em;
					height: 1.5em;
					i {
						position: absolute;
						width: 1.5em;
						height: 1.5em;
						text-align: center;
						line-height: 1.6em;
						border: 1px solid transparent;
						z-index: 1;
						pointer-events: none;
						color: $colour-lightgrey;
						font-size: 0.8em;
					}
				
					label:before {
						top: 0;
						width: 1.5em;
						height: 1.5em;
					}
					label:after {
						top: 0;
						width: 1.5em;
						height: 1.5em;
						transform: scale(1);
					}
				}
			}
			
		}
		
		h4 {
			display: block;
			width: 80%;
			transform-origin: left top;
			font-size: 0.8em;
			font-weight: $font-normal;
		}
	
		.pretty.p-icon input ~ .state .icon {
			color: $colour-black;
			
		}	
		.pretty.p-icon input:checked ~ .state .icon {
			color: $colour-white;
			background-color: $colour-black;
			border-radius: 0;
		}
		
		.radiorow {
			display: block;
			label {
				display: inline-block;
			}
			input[type="radio"] {
				display: inline-block;
			}
		}
	}
	
	
	.worko-tabs {
		&.search {
			.tab {
				display: inline-block;
				vertical-align: top;
				cursor: pointer;
				padding: 10px 0;
			}
			.tabs {
				.tab-holder {
					position: relative;
					margin-bottom: 1em;
					display: inherit;
					width: 100%;
					margin-left: 1em;
					.half-tab {
						width: auto;
						z-index: 2;
						label:not(.tgl-btn) {
							padding-left: 0;
							padding-right: 2em;
							width: 100%;
							text-align: left;
							text-transform: uppercase;
							&.tab-right {
								text-align: right;
								padding-right: 3em;
							}
						}
						&.second {
							z-index: 1;
							padding-left: 2em;
							margin-left: 1em;
							.tab:hover {
								border-bottom: 2px solid $colour-lightgrey;
							}
						}
						&.third {
							width: 50%;
							display: block;
							position: absolute;
							right: 0;
							.tgl-btn {
								top: -26px;
								width: 2em;
							}
						}
					}
				}
			}
		}
		.flex-tabs {
			.panel {
				min-height: 0;
			}
		}
	}
	
	.tabs.flex-tabs span.filterdivider {
		color: $colour-cyan;
		margin-top: 50px;
	}
	
	input[name=gender] {
		display:none;
	}
	
	input[name=gender] + label {
		display: inline-block;
		border-radius: 2px;
		padding: 5px 10px;
		font-weight: $font-black;
		background: transaprent;
		margin-right: 1em;
		&:hover {
			background: $colour-burgundy;
			color: $colour-white;
			cursor: pointer;
		}
	}
	
	input[name=gender]:checked + label {
		border-radius: 2px;
		padding: 5px 10px;
		font-weight: $font-black;
		background: $colour-burgundy;
		color: $colour-white;
	}
	
	input[name=gender] + label span {
		position: relative;
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: #fff;
		border-radius: 50%;
		-webkit-box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.5);
		box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.5);
		top: 2px;
		margin-right: 5px;
	}
	input[name=gender] + label span span {
		background-color: #fff;
		top: 0px;
	}
	input[name=gender]:checked + label span span {
		border-bottom: 3px solid $colour-white;
		position: absolute;
		display: inline-block;
		width: 8px;
		height: 8px;
		background-color: $colour-cyan;
		border-radius: 50%;
		left: 5px;
		top: 5px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

.grid-wide-left.search .select-wrap:after {
	top: 6px;
}

#moreModelInfo .column.modelimage {
	width: 184px;
	min-width: 184px;
	max-width: 184px;
}

.search-results .column.modelimage {
	max-width: 25%;
}

.ui-slider span.ui-slider-handle:hover {
	cursor: pointer;
}

.ui-slider span.ui-slider-handle {
	border-color: $colour-darkgrey;
	background-color: $colour-darkgrey;
	border-radius: 50%;
	width: 1em;
	height: 1em;
}

.ui-slider span.ui-slider-handle:before {
	content: attr(data-val);
	position: absolute;
	top: -20px;
	left: 50%;
	color: $colour-darkgrey;
	padding: 4px;
	transform: translateX(-50%);
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	border-radius: 5px;
	font-size: 0.8em;
}
.ui-slider span.ui-slider-handle:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: -11px;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

.ui-slider span.ui-slider-handle.ui-state-active {
	background: $colour-black;
	border: 1px solid $colour-black;
}

#tab-specific:checked ~ .tabs #tab-specific-label,
#tab-mustbe:checked ~ .tabs #tab-mustbe-label, 
#tab-canhave:checked ~ .tabs #tab-canhave-label {
	cursor: default;
	color: $colour-black; 
	border-bottom: 2px solid $colour-black;
}

#tab-specific:checked ~ .tabs #tab-specific-panel,
#tab-mustbe:checked ~ .tabs #tab-mustbe-panel, 
#tab-canhave:checked ~ .tabs #tab-canhave-panel {
	display: block;
}

.panel.search {
	padding-left: 20px;
	padding-right: 20px;
}

.panel.search .column {
	padding: 0;
}

.panel.search .column .ui-slider {
	margin: 0 0.5em;
	width: 100%;
}


.search input[type=email],
.search input[type=password],
.search input[type=text],
.search select {
	border: 0;
	outline: 0;
	display: block;
	width: 100%;
	flex: 1;
	padding: 0.5em 0 0.5em 0.25em;
	color: #fff;
	height: 1.5em;
	border-bottom: none;
}

.search input[type=email]:not(.picker__select--year):not(.picker__select--month):not(.tui-timepicker-select), input[type=password]:not(.picker__select--year):not(.picker__select--month):not(.tui-timepicker-select), input[type=text]:not(.picker__select--year):not(.picker__select--month):not(.tui-timepicker-select), textarea:not(.picker__select--year):not(.picker__select--month):not(.tui-timepicker-select), select:not(.picker__select--year):not(.picker__select--month):not(.tui-timepicker-select) {
//	width: inherit;
//	display: inherit;
}

.search .select-wrap {
	overflow: visible;
	z-index: 2;
}

.search .row.gender {
	margin-top: 20px;
	margin-bottom: 1em;
}

.search .row.slider {
	.typecol {
		width: 50px;
		margin-right: 10px;
	}
	.slidercol {
		width: 70%;	// 100
		height: 50px;
		margin-left: 0.5em;
		margin-top: 0.5em;
		
		&.heightrange {
			margin-top: 1em;
			.ui-slider span.ui-slider-handle:before {
				top: -34px;
				text-align: center;
			}
		
		}
	}
}
.ui-slider-range.ui-widget-header {
	background-color: $colour-lightgrey;
}

.ui-slider-horizontal {
	top: 15px;
	height: 6px;
	.ui-slider-handle {
		top: -5px;
	}
}
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content {
	border-radius: 10px;
}

.ui-widget.ui-widget-content {
	border-color: $colour-lightgrey;
}
.ui-slider.ui-slider-horizontal.ui-widget:before {
	content: attr(data-min);
	position: absolute;
	top: 12px;
	left: -10px;
	color: $colour-grey;
	padding: 4px;
	font-size: 75%;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content:after {
	content: attr(data-max);
	position: absolute;
	top: 12px;
	right: -10px;
	color: $colour-darkgreen;
	padding: 4px;
	font-size: 75%;
}

h3.searchresults {
	color: $colour-cyan;
	font-size: 22px;
	margin-top: 40px;
	padding: 0;
}

select > option {
	background-color: $colour-cyan;
}

#tab-specific-panel {
	h2 {
		font-size: 1.25em;
		font-weight: normal;
	}
	h3 {
		font-size: 1em;
	}
}

/* for the select2 drop-downs */
.select2-container {
//	display: inline;
}

.select2-selection__arrow {
	display: none;
}

.select2-container--default .select2-selection--single {
	background-color: transparent;
	border: none;
}

.select2-results {}

.select2-container--default .select2-results__option {
	background-color: $colour-white;
	border-top: none;
	color: $colour-cyan;
}

.select2-container--default .select2-results__option:hover::after {
	content: " ";
	border: 1px solid $colour-cyan;
	background-color: $colour-cyan;
	top: 2px;
	left: 10px;
	width: 10px;
	height: 10px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	float: right;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: none;
}

.select2-container--default .select2-results__option--highlighted {
	background-color: $colour-white;
	color: $colour-black;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #fff;
	color: $colour-burgundy;
}

.select2-dropdown {
	background-color: transparent !important;
	border: none;
	min-width: 260px !important;
}

.select2-container--open .select2-dropdown--below {
	border-radius: 10px;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #fff;
}

ul.select2-results__options {
	border-bottom: none;
	font-weight: $font-normal;
	font-size: 12px;
}

span.select2-container--open.select2-container--below,
span.select2-container--open.select2-container--above {
	&:before {
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		right: 5px;
		background: $colour-white;
		transform: rotate(45deg);
	}
}

span.select2-container--open.select2-container--below {
	&:before {
		top: 29px;
	}
	
}

span.select2-container--open.select2-container--above {
	&:before {
		top: -6px;
	}
	
}

ul.select2-results__options li {
	padding: 10px 0;
	margin: 0;
}

ul.select2-results__options li {
	&:first-child {
		border-radius: 5px 5px 0 0;
	}
	&:last-child {
		border-radius: 0 0 5px 5px;
	}
}

li.select2-results__option:before {
	content: " ";
	color: $colour-cyan;
	border: 1px solid $colour-cyan;
	top: -3px;
	width: 20px;
	height: 20px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	float: right
}

li.select2-results__option[aria-selected="true"]:before {
	border: 1px solid $colour-burgundy;
}
li.select2-results__option[aria-selected="true"]:after {
	content: " ";
	border: 1px solid $colour-burgundy;
	background-color: $colour-burgundy;
	top: 2px;
	left: 10px;
	width: 10px;
	height: 10px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	float: right;
}

.select2-search__field {
	height: 32px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
//	border: 1px solid $colour-yellow;
	border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: $colour-cyan;
	border: none;
	color: $colour-white;
	margin-top: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: $colour-white;
	&:hover {
		color: $colour-burgundy;
	}
}

.select2-container--default .select2-selection--multiple {
	background: none;
	border: none;
}

.select2-container--default .select2-results > .select2-results__options {
	max-height: inherit;
}

.other,
.male {
	display: none;
}

.searchmodelimage {
	width: $image-width;
	min-width: $image-width;
	// height is set in jobedit.scss
	display: inline-block;
}

.top-holder {
	.tgl {
		+ .tgl-btn {
			margin-top: 2px;
			width: 2em;
			height: 1em;
			border: none;
			float: right;
		}
	}	
}
.search {	
	.tgl {
		+ .tgl-btn {
			width: 2em;
			height: 1em;
			border: 1px solid $colour-burgundy;
			float: right;
			background: $colour-lightgrey;
		}
	}
	.tgl-slider:checked + .tgl-btn {
		background: $colour-burgundy;
	}
	
	span.modelboard {
		margin-right: 1em;
		border-bottom: 1px solid transparent;
		&.development,
		&.featured,
		&.all {
			&.active {
				border-bottom: 1px solid $colour-black;
			}
		}
		&:hover {
			cursor: pointer;
			border-bottom: 1px solid $colour-black;
		}
	}
}


.search-results {
	.column {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	a {
		margin: 0.5em;
		display: inline-block;
	}
	
}

.search-results.favourites .column {
	justify-content: center;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
	.searchmodelimage {
		width: 200px;
		min-width: 200px;
	}
}
@media screen and (max-width: 768px) {
	.grid-main {
		.search-results {
			text-align: center;
			
			.searchmodelimage {
				min-width: 80vw;
				
				.details_overlay {
					top: 55%;
					
					.name-leader {
						font-size: 150%;
					}
					
					.details {
						ul {
							display: inline;
							
							li {
//								display: inline-block;
//								float: left;
//								width: 45%;
//								text-align: left;
							}
						}
					}
					.images-link {
						margin-bottom: 0;
						.portfolio {
							width: 45%;
							margin-left: 0;
							
						}
						.polaroids {
							width: 45%;
							margin-right: 0;
							float: none;
						}
					}
					.instagram-details {
						font-size: 150%;
					}
				}
			}
			
		}
	}
}
