#debugoutput {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
}

.debug_bar {
	font-size: 12px;
	padding: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.debug_popout {
	float: left;
	display: none;
	position: fixed;
	left: 10px;
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	overflow: auto;
	height: 400px;
	z-index: 10001;
	width: 800px;
}