.text-thin {
  font-weight: 300;
}

.text-light {
  font-weight: 400;
}

.text-normal {
  font-weight: 500;
}

.text-medium {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-ultra {
  font-weight: 900;
}

.text-white {
  color: #FFFFFF;
}

.text-black {
  color: #080808;
}

.text-blackcolour {
  color: #080808;
}

.text-cyan {
  color: #13AFC0;
}

.text-yellow {
  color: #ffba1c;
}

.text-purple {
  color: #C353E3;
}

.text-findared {
  color: #C93B3B;
}

.text-red {
  color: #C93B3B;
}

.text-grey {
  color: #99A3A3;
}

.text-lightgreen {
  color: #d5e1df;
}

.text-darkgreen {
  color: #a7bab8;
}

.text-pink {
  color: #D300BE;
}

.text-green {
  color: #00DD00;
}

.text-darkgrey {
  color: #565c66;
}

.text-lightgrey {
  color: #E3E3E3;
}

.text-burgundy {
  color: #FF4040;
}

.bg-black {
  background-color: #080808;
}

.bg-grey {
  background-color: #99A3A3;
}

.bg-bordergrey {
  background-color: #99A3A3;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-purple {
  background-color: #C353E3;
}

.bg-yellow {
  background-color: #ffba1c;
}

.bg-red {
  background-color: #C93B3B;
}

.bg-pink {
  background-color: #D300BE;
}

.bg-burgundy {
  background-color: #FF4040;
}

hr {
  width: 100%;
  background: rgba(227, 227, 227, 0.6);
  margin-top: 4em;
  margin-bottom: 4em;
}

section {
  color: #080808;
  width: 100%;
  display: block;
}
section .half {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  position: relative;
}

section#howitworks_lead {
  position: relative;
  padding: 2em 0 4em 0;
}

section#unbiased_section1 {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
}
section#unbiased_section1 .half {
  z-index: 5;
}
section#unbiased_section1 .half.pad {
  padding: 3em;
}
section#unbiased_section1 .half .image {
  height: 100%;
  background-image: url("/images/homepage/unbiased/1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: 1;
  position: relative;
}
section#unbiased_section1 .half .image .burgundy_bar {
  background: #FF4040;
  opacity: 0.5;
  width: 20%;
  height: 100%;
  z-index: 5;
}
section#unbiased_section1 .half .image .finda {
  position: absolute;
  bottom: -1em;
}
section#unbiased_section1 .half .image .finda img {
  height: 3em;
  object-fit: contain;
  filter: invert(1);
  object-position: right;
}
section#unbiased_section1 .content {
  z-index: 5;
}
section#unbiased_section1 .content p {
  color: #080808;
  z-index: 10;
  padding: 1em 2em 1em 5em;
}

section#unbiased_section2 {
  position: relative;
  display: flex;
}
section#unbiased_section2 .half {
  z-index: 5;
}
section#unbiased_section2 .half.pad {
  padding: 3em;
}
section#unbiased_section2 .half .image {
  height: 100%;
  background-image: url("/images/homepage/unbiased/2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: 1;
  position: relative;
}
section#unbiased_section2 .half .image .burgundy_bar {
  background: #FF4040;
  opacity: 0.5;
  width: 100%;
  height: 40%;
  z-index: 5;
  bottom: 0;
  position: absolute;
}
section#unbiased_section2 .half .image .finda {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
section#unbiased_section2 .half .image .finda img {
  height: 3em;
  object-fit: contain;
  object-position: left;
}
section#unbiased_section2 h2 {
  margin-left: 2em;
  margin-top: 10em;
}
section#unbiased_section2 .content {
  display: flex;
  flex-wrap: wrap;
}
section#unbiased_section2 .content p {
  z-index: 10;
  padding: 1em 5em 1em 2em;
}

section#howitworks_section3 {
  position: relative;
  display: flex;
}
section#howitworks_section3 .burgundy_bar {
  height: 100%;
  width: 25%;
  background-color: #FF4040;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
section#howitworks_section3 .half.image {
  background-image: url("/images/homepage/howto/3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
section#howitworks_section3 .content {
  bottom: 0;
  width: 100%;
  margin-left: 2em;
  padding: 1em;
  margin-top: 20em;
}
section#howitworks_section3 .finda {
  position: absolute;
  top: 8em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}
section#howitworks_section3 .finda img {
  height: 5em;
  filter: invert(1);
}

h1, h2, h3 {
  transform-origin: left top;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 667px) {
  .row p {
    padding: 0.5em 0;
  }
  .row p:last-child {
    padding-bottom: 2em;
  }
  .row p a.button {
    margin-top: 1em;
    margin-right: 0.5em;
  }
  .row p b {
    color: #080808;
  }
  .row h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 500;
  }
  .row h2.upper {
    text-transform: uppercase;
  }
  .row h3 {
    transform-origin: left top;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
  .topbar-responsive-logo img {
    filter: invert(1);
  }

  section .half {
    width: 100%;
    min-width: 100%;
  }
  section .half p {
    padding-bottom: 0.5em;
    max-width: 100%;
  }
  section h2 {
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
  }

  section#howitworks_lead .content {
    left: 0;
    transform: none;
    width: 100%;
    padding: 0.5em;
  }

  section#unbiased_section1 .content h2 {
    margin: 0.5em;
    text-align: center;
  }

  section#unbiased_section1 .content {
    margin-top: 2em;
  }

  section#unbiased_section1 .content p {
    padding: 0.5em;
    max-width: 100%;
    text-align: center;
  }

  section#unbiased_section1 .burgundy_bar {
    margin: 0;
    width: 100%;
  }

  section#unbiased_section1 {
    display: inline-block;
  }

  section#unbiased_section1 .half .image,
section#unbiased_section2 .half .image {
    height: 20em;
  }

  section#unbiased_section2 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section#unbiased_section2 .half.pad {
    display: none;
  }

  section#unbiased_section2 h2 {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
  }

  section#unbiased_section2 .content {
    margin-left: 0;
    text-align: center;
  }
  section#unbiased_section2 .content p {
    width: 100%;
    max-width: 100%;
  }
  section#unbiased_section2 .content .row {
    max-width: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=unbiasedsearch.css.map */
