@charset "UTF-8";

@import "../partials/_colours.scss";

$modelImageWidth: 350px;

#main {
	min-height: calc(100vh - 3em - 40px);
	margin-top: 0;
}
a.bullet-item-link,
a.compcard {
	border-bottom: 0;
	
}
.profile-home {
	display: flex;
	margin-top: -2em;
	margin-bottom: 4em;
	
	.half {
		width: 50%;
		max-width: 50%;
		float: right;
		overflow: hidden;
		background-size: cover;
		background-position: center;
		position: relative;
		
		.imagebuttons {
			position: absolute;
			bottom: 2em;
			width: 100%;
		}
	}
	
	.right-third {
		width: 50%;
		max-width: 50%;
		float: right;
		overflow: hidden;
		background-size: cover;
		background-position: center;
		position: relative;
	}
	
	.right-fill {
		width: 60%;
		padding: 2em 3em 0 6em;
		
		.row .column {
			padding: 0;
		}
		.measurements {
			border-radius: 2px;
			padding: 2em 4em;
			background: $colour-white;
			max-width: 35em;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			border: 1px solid $colour-black;
			
		}
	}
	
	.model-chat,
	.model-favourite,
	a.compcard {
		position: relative;
		display: inline-block;
		margin-bottom: 1em;
		font-weight: $font-medium;
		border-bottom: 1px solid transparent;
		&:hover {
			border-bottom: 1px solid $colour-black;
			cursor: pointer;
		}
	}
	h4 {
		transform-origin: center center;
		margin-bottom: 0.5em;
		font-size: 1em;
	}
	
	
}

.row.messagesrow {
	margin-bottom: 4em;
	margin-left: 6em;
	margin-right: 6em;
	padding: 0;
	.messagesbox {
		h4 {
			margin-top: 0;
			transform-origin: left top;
			font-size: 1.25em;
		}
		.messageslist {
			display: block;
			flex-direction: column;
			background: transparentize($colour-lightgrey, 0.5);
			margin: 0 0 1em 0;
			max-width: 30em;
			max-height: 200px;
			overflow-y: scroll;
			
			.messageholder {
				width: 100%;
				display: flex;
				&.sender {
					justify-content: flex-start;
				}
				&.recipient {
					justify-content: flex-end;
					text-align: right;
				}
				
				.message {
					border-radius: 2px;
					margin: 0.35em;
					padding: 0.25em 0.35em 0.35em 0.35em;
					min-width: 35%;
					.messagetime {
						font-size: 0.6em;
						font-weight: $font-light;
						margin-bottom: 10px;
					}
					.messagebody {
						font-size: 1em;
					}
				}
				&.sender .message {
					background: $colour-lightgrey;
					align-items: flex-start;
				}
				&.recipient .message {
					background-color: transparentize($colour-burgundy, 0.8);
					color: $colour-black;
					align-items: flex-end;
				}
			}
		}
	}
}
	
.modelinstagram {
	.instagramlogo {
		width: 32px;
		height: 32px;
		position: relative;
		top: 2px;
	}
	.followercount {
		font-size: 38px;
		font-weight: $font-black;
		line-height: 56px;
	}
	.instagramname {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: $font-medium;
		line-height: 36px; 
		margin-left: 0.5em;
		
		a {
			color: $colour-black;
			text-decoration: none;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
}



.profile-home h1,
.profile-home h2 {
	font-size: 50px;
	padding: 0;
	margin: 0;
}

.profile-home h1 {
	font-weight: $font-black;
	text-transform: uppercase;
	margin-top: 0.5em;
	margin-bottom: 0;
}

.profile-home h2 {
	font-weight: $font-normal;
	margin-bottom: 1em;
}

.modeldetails {
	margin-bottom: 1em;
	margin-top: 1em;
	
	.row {
		margin: 0.25em 0;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.column:first-child {
		font-weight: $font-bold;
		width: 50%;
		display: flex;
		justify-content: flex-end;
		max-width: 50%;
	}
	
	.column {
		display: flex;
		justify-content: flex-start;
	}
	
	hr.yellow-line {
		height: 1px;
		background: transparentize($colour-grey, 0.5);
	}
}

.imageslinks {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	justify-content: space-between;
	a.photolink {
		color: $colour-black;
		font-weight: $font-normal;
		font-size: 1.5em;
		display: block;
		border-bottom: 2px solid transparent;
		text-align: center;
		&:hover {
			text-decoration: none;
			border-bottom: 2px solid $colour-burgundy;
		}
	}
	.findaslash {
		font-size: 1.5em;
		font-weight: $font-normal;
		text-align: center;
	}
}
.modelbooking .button.full-width {
	width: 100%;
}

/* image display */
/* override header, footer and main section */
.text-background {
	position: fixed;
	font-size: 18vw;
	width: 100vw;
	text-align: center;
	font-weight: $font-ultra;
	text-transform: uppercase;
	z-index: -1;
	top: 1vw
}

.text-background.polaroids,
.text-background.portfolio {
	color: #fafafa;
}

.model-image-grid {
	margin-top: 40px;
	margin-bottom: 12em;
	
	img:hover {
		cursor: pointer;
	}
}

.imageselector a {
	text-decoration: none;
	color: $colour-black;
}

.imageselector a:hover {
	text-decoration: none;
	color: $colour-burgundy;
}

.imageselector {
	font-weight: $font-black;
	font-size: 30px;
	text-transform: uppercase;
	padding: -15px;
	border-bottom: 4px solid transparent;
	color: $colour-black;
	margin: 0 12px;
	text-align: center;
	display: inline-block;
}

.imageselector.selected a {
	color: $colour-burgundy;
}

.imageselector .selectedbar {
	border: 4px solid transparent;
	position: relative;
	top: 23px;
}

.imageselector a:hover .selectedbar,
.imageselector .selectedbar.active {
	border: 2px solid $colour-black;
	margin-bottom: 4px;
}

.grid-full {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 100%;
	grid-template-columns: 100%;
	grid-gap: 0;
	width: 100%;
}

.viewmodelimages {
	margin-top: 0em;
	
}
.viewmodelimages .modelname {
	font-size: 50px;
	font-weight: $font-black;
	color: $colour-black;
	text-align: center;
	width: 100%;
	margin-top: 48px;
	margin-bottom: 10px;
}

.left-menu {
	position: fixed;
	top: 43vh;
	left: 50%;
	font-size: 150%;
	transform: translateX(-40rem);
	-webkit-transform: translateX(-40rem);
	-moz-transform: translateX(-40rem);
	-ms-transform: translateX(-40rem);
	-o-transform: translateX(-40rem);
	width: 140px;
}

.instagramlogo {
	color: $colour-black;
	font-size: 30px;
	font-weight: $font-black;
	a {
		color: $colour-black;
	}
}

.hollow-button {
	border: 2px solid $colour-black;
	color: $colour-black;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;
	padding: 10px 5px;
	margin: 5px 0;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	font-weight: $font-black;
}

.hollow-button.full-width {
	width: 100%;
	min-width: 100%;
}
a.hollow-button:hover {
	background-color: $colour-burgundy;
	color: $colour-white;
	cursor: pointer;
	text-decoration: none;
	border: 2px solid $colour-burgundy;
}

.back-link a:hover {
	color: $colour-burgundy;
}

.back-link a:after:hover {
	text-decoration: none;
}

.leader-back-link {
	margin-top: 1em;
	
}
.leader-back-link a {
	text-decoration: none;
	text-transform: uppercase;
	color: $colour-black;
}

.leader-back-link a:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	content: "\f060";
	margin-right: 1em;
}

.leader-back-link a:hover {
	border-bottom: 1px solid $colour-white;
	padding-bottom: 0.25em;
}

.leader-back-link a:after:hover {
	text-decoration: none;
}

.model-image-grid .croissant-modal img {
	border-radius: 1.5em;
	&:hover {
		cursor: pointer;
	}
}

// booking modal
#joboffers {
	padding: 2em 4em;
	text-align: center;
	.button.warning {
		background-color: #000;
		color: #fff;
		width: 100%;
		text-transform: uppercase;
		padding: 0.5em 1em;
		margin: 1em 0;
	}
	
	.button {
		margin: 1em 0;
	}
	
	.button.warning:hover {
		text-decoration: none;
	}
	
}

.model-favourite {
	i {
		color: $colour-black;
		transition: color 0.2s ease-in;
	}
	
	i:hover {
		color: $colour-burgundy;
		cursor: pointer;
	}
}

.loadfader {
	width: 150px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
}

// calendar section
.model_calendar {
	
	min-width: 12em;
	
	.month_heading {
		text-align: center;
		font-weight: $font-bold;
		width: 100%;
	}
	.days_holder {
		display: grid;
		grid-template-columns: repeat(7, 2.5em);
		position: relative;
		justify-content: center;
		grid-gap: 5px;
		
		.calendar_day {
			height: 2.5em;
			border: 1px solid $colour-black;
			margin: 1px;
			border-radius: 2px;

			&:hover {
				cursor: default;
			}
			&.busy {
				background-color: $colour-burgundy;
				.calendar_date {
					color: $colour-white;
				}
			}
			.calendar_date {
				font-weight: $font-bold;
				text-align: left;
				color: $colour-black;
				padding: 2px;
				font-size: 0.5em;
			}
			.available_check {
				width: 100%;
				display: block;
				text-align: center;
				margin-top: 0.25em;
				i {
					font-size: 1em;
					color: $colour-burgundy;
					&.fa-times {
						color: $colour-white;
					}
				}
			}
		}
	}
	
}

@media only screen and (min-width: 768px) {
	#scroll-indicator-bullets {
		position: fixed;
		top: 280px;
		-webkit-transform: translate(49em, 0%);
		-ms-transform: translate(49em, 0%);
		transform: translate(49em, 0%);
		right: 45%;
		z-index: 8;
		font-size: .8rem;
	}
	
	#scroll-indicator-bullets ul li .bullet-item-link .circle {
		border: 5px solid transparentize($colour-black, 0.8);
	}
	#scroll-indicator-bullets ul li .bullet-item-link.active .circle {
		border: 5px solid $colour-black;
	}
	#scroll-indicator-bullets ul li .bullet-item-link.active .circle:after {
		border: none;
	}
	
	#galleryButtons {
		z-index: 10005;
		width: 100%;
		position: fixed;
		.galleryNext, 
		.galleryPrev {
			position: absolute;
			color: $colour-black;
			font-size: 6em;
			
			i {
				transition: color 0.5s;
				&:hover {
					cursor: pointer;
					color: $colour-burgundy;
				}
			}
		}
		
		.galleryPrev {
			left: 10px;
		}
		
		.galleryNext {
			right: 10px;
		}
	}
	
	.mobilepanel {
//		position: relative;
	
	}
	.closeWrapper {
		position: relative;
		width: 100%;
		height: 100%;
		
		a.closeViewProfile {
			position: absolute;
			top: 1em;
			right: 1em;
			border-bottom: none;
			z-index: 10002;
			&:hover {
				cursor: pointer;
			}
		}
	}
	
	.project_ribbon {
		position: absolute;
		width: 400px;
		transform: rotate(-45deg);
		padding: 1em 6em;
		text-align: center;
		background: $colour-black;
		color: $colour-white;
		font-weight: $font-bold;
		top: 60px;
		left: -100px;
	}
}

@media only screen and (max-width: 768px) {
	.grid {
		&.profile-home {
			display: block;
		
			.grid-left {
				margin-right: 0;
			}
	
			h1 {
				margin-top: 0.5em;
				text-align: center;
				width: 100%;
			}
			h2 {
				text-align: center;
				width: 100%;
			}
		}
	}
}

.row {
	position: relative;
	&.modelImages {
		align-items: center;
		justify-content: space-evenly;
		.column {
			position: relative;
			max-width: 33%;
			flex: 1 1 32%;
			margin: 0.5em;
			&.imagecol {
				padding: 0;
				border: 3px solid transparent;
				overflow: hidden;
				&:hover {
					border: 3px solid $colour-black;
					border-radius: 2px;
				}
			}
			
			.image_container {
				width: 100%;
				position: relative;
				border-radius: 2px;
				span.image_fader {
					opacity: 1;
					position: absolute;
					width: 100%;
					height: 100%;
					transition: opacity 1s;
					border-radius: 1px;
					
					&.polaroids,
					&.portfolio {
						background: lighten($colour-lightgreen, 10%);
					
					}
					img {
						width: auto;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
					}
				}
				.imageload {
					position: absolute;
					height: 100%;
					width: 100%;
					background-position: center;
					background-size: cover;
					border-radius: 1px;
					
					&:hover {
						cursor: pointer;
					}
				}
				&:after {
					content: "";
					display: block;
					padding-bottom: 100%;
				}
			}
		}
	}
	
}

.topper2_name {
	color: $colour-black;
	font-weight: $font-bold;
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 1em;
}
.topper2 {
	.topper2_tab.portfolio,
	.topper2_tab.polaroids {
		text-transform: uppercase;
		font-size: 1rem;
		color: $colour-black;
		font-weight: $font-thin;
		padding-bottom: 7px;
		border-bottom: 1px solid $colour-black;
		&.active {
			font-weight: $font-bold;
			padding-bottom: 2px;
			border-bottom: 6px solid $colour-black;
			border-radius: 0;
		}
		&.active, &:hover {
			border-bottom: 6px solid $colour-black;
			cursor: pointer;
			padding-bottom: 2px;
		}
		span.badge {
			margin-left: 0.5em;
			width: 32px;
			height: 32px;
			text-align: center;
			border-radius: 50%;
			display: inline-block;
			line-height: 32px;
			border: 1px solid $colour-black;
		}
	}
	
	
}