/customers/finda/configuration/local.configuration.php
/customers/finda/docroot/test.php
/customers/finda/docroot/images/user/
/customers/finda/docroot/portfolio/
/customers/finda/docroot/polaroids/
/customers/finda/docroot/chatAttachment/
/customers/finda/docroot/avatar/
/customers/finda/docroot/callsheets/
/customers/finda/docroot/kyc/
/customers/finda/docroot/podcasts/
/customers/finda/docroot/video/
/customers/finda/docroot/companylogos/
/libraries/vendor/Dompdf.82
.scannerwork
.DS_Store
*.csv
*.sql
.settings
.buildpath
.project
.sass-cache
.vscode