@import "../partials/_colours.scss";

#cookies {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	bottom: 0;
	box-shadow: 2px 2px 25px black;
	color: $colour-black;
	font-size: 14px;
	height: inherit;
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100%;
	z-index: 2000;
	display: none;
}

#cookies {
	
	p {
		letter-spacing: 0;
		margin: 10px auto;
		max-width: 80%;
	}

	button {
		border: 5px $colour-burgundy;
		border-radius: 2px;
		font-size: 1.5em;
		background-color: $colour-burgundy;
		color: $colour-white;
		cursor: pointer;
		float: right;
		overflow: hidden;
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);
		-webkit-font-smoothing:antialiased;
		padding: 0.25em;
	}
}

.inner {
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
}