@import "../partials/_colours.scss";
	
.register-modal {
	height: 60vh;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	width: 0;
	text-align: center;
	font-size: 250%;
	text-transform: uppercase;
	font-weight: $font-bold;
}

.register-modal p span {
	font-size: 30%;
}

.emailError {
	font-weight: $font-bold;
	color: $colour-red;
	padding: 0.25em;
	position: absolute;
	right: 0;
	bottom: -5%;
}

.registererror {
	background: rgba(184, 20, 43, 0.05) !important;
	border-bottom: 1px solid $colour-red !important;
}

.registerModal {
	background: none;
	border: none;
	width: 1030px;
}

.inside-label {
	cursor: pointer;
	user-select: none;
	padding: 6px 8px;
	border-radius: 2px;
	overflow: hidden;
	transition: all 0.2s ease;
}

.inside-label:not(:last-child ) {
	margin-right: 6px;
}

.inside-label span {
	float: left;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}

.inside-label span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 2px;
	transform: scale(1);
	border: 2px solid $colour-burgundy;
	transition: all 0.2s ease;
}

.inside-label span:first-child svg {
	position: absolute;
	top: 2px;
	left: 1px;
	fill: none;
	stroke: #fff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}

.inside-label span:last-child {
	padding-left: 8px;
	line-height: 18px;
}

.inside-label:hover span:first-child {
	border-color: $colour-black;
}
.main:checked+.inside-label span:first-child {
	background: $colour-burgundy;
	border-color: $colour-burgundy;
	animation: myAnimation 0.4s ease;
}

.main:checked+.inside-label span:first-child svg {
	stroke-dashoffset: 0;
}

.tick-icon {
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
}

@media screen and (max-width: 650px) {
	.inside-label {
		width: 100%;
		margin-bottom: 4px;
		display: inline-block;
	}
}

@keyframes myAnimation { 
	50% {
		transform: scale(0.9);
	}
}

.register-modal {
	border: 0;
	background-color: transparent;
	position: relative;
	
	background-position: center;
	background-size: cover;
	
	p.jointext {
		font-size: 40px;
		color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 2px solid $colour-white;
		border-bottom: 2px solid $colour-white;
		margin: 0;
		
		span {
			font-weight: $font-black;
			font-size: 28px;
		}
		
		&:hover {
			cursor: pointer;
			color: $colour-black;
			border-top: 2px solid $colour-black;
			border-bottom: 2px solid $colour-black;
		}
	}
	
}
.fakeinput {
	margin-top: 22px;
}

.registerModal a,
.registerModal a:hover {
	&:not(.button) {
		color: #000;
	}
}

.registerModal a:hover {
	text-decoration: none;
}

.registerModal.croissant-block {
	padding: 0;
	border-radius: 0;
	margin: 0;
}
.registerModal .row,
.registerModal .column {
	padding: 0;
	border-radius: 2px;
	margin: 0;
	flex-flow: nowrap;
}

#register .column {
	margin: 0 0.5em;
	text-align: left;
}

#register input[type="email"], 
#register input[type="password"], 
#register input[type="text"], 
#register textarea, 
#register select {
	color: #333;
	margin-bottom: 1em;
	font-size: 14px;
	text-align: left;
}

#register label {
	text-align: left;
}

// #register-form-brand.callout.brand .select-wrap::after,
#register-form-brand.callout.brand input[type="email"], 
#register-form-brand.callout.brand input[type="password"], 
#register-form-brand.callout.brand input[type="text"], 
#register-form-brand.callout.brand textarea, 
#register-form-brand.callout.brand select {
	border-color: transparentize($colour-black, 0.8);
	border-width: 1px;
}
#register-form-brand.callout.brand input[type="email"], 
#register-form-brand.callout.brand input[type="password"], 
#register-form-brand.callout.brand input[type="text"], 
#register-form-brand.callout.brand textarea {
	&:hover {
		border-color: $colour-black;
	}
}

// #register-form-model.callout.model .select-wrap::after,
#register-form-model.callout.model input[type="email"], 
#register-form-model.callout.model input[type="password"], 
#register-form-model.callout.model input[type="text"], 
#register-form-model.callout.model textarea, 
#register-form-model.callout.model select {
	border-color: transparentize($colour-black, 0.8);
	border-width: 1px;
}

.select-wrap::after {
	border-color: $colour-black;
}

#register-form-model.callout.model input[type="email"], 
#register-form-model.callout.model input[type="password"], 
#register-form-model.callout.model input[type="text"], 
#register-form-model.callout.model textarea {
	&:hover {
		border-color: $colour-black;
	}
}

#register-form-brand .button.success:hover {
	background-color: #fff;
	color: $colour-burgundy;
	text-decoration: none;
}

#register-form-brand.callout.brand input[type="checkbox"] {
	border-radius: 0;
	border: 1px solid $colour-black;
	
}


.step1:hover {
//	cursor: pointer;
}

.step2 {
	display: none;
}


@media screen and (min-width: 768px) {
	#register-form-brand a,
	#register-form-model a {
		&:not(.button) {
			color: $colour-black;
			line-height: 20px;
		}
	}
	#register-form-brand,
	#register-form-model {
		padding: 2em;
		font-size: 0.75em;
	}
	
}